<!DOCTYPE html>
<html>
<head>
  <title>TweetConversationViewer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
